<div class="card mb-3">
  <h2 class="card-header h4">
    Journal Entry #<%= journal_entry.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @journal_entry.user.present? %>
          <%= link_to journal_entry.user, journal_entry.user %>
        <% end %>
      </dd>

      <dt>Place</dt>
      <dd>
        <% if @journal_entry.place.present? %>
          <%= link_to journal_entry.place, journal_entry.place %>
        <% end %>
      </dd>

      <dt>Title</dt>
      <dd><%= journal_entry.title %></dd>

      <dt>Date</dt>
      <dd><%= journal_entry.date %></dd>

      <dt>Description</dt>
      <dd><%= journal_entry.description %></dd>

      <dt>Image</dt>
      <dd>
        <%= cl_image_tag @journal_entry.image, class: "img-fluid" %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back journal_entry, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @journal_entry.user %>
          <%= link_to edit_journal_entry_url(journal_entry), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @journal_entry.user %>
          <%= link_to journal_entry, method: :delete, data: { confirm: "Do you really want to delete this journal_entry?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(journal_entry.updated_at) %> ago
  </div>
</div>
